recursive-include pretix_discourse_auth/static *
recursive-include pretix_discourse_auth/templates *
recursive-include pretix_discourse_auth/locale *
include LICENSE
include *.md
exclude .gitlab-ci.yml
